@import '~bulma/bulma';


html{
  background: url('../images/CTWK6N.jpg') no-repeat  center fixed;
  background-size: cover;
  font-family: 'Playfair Display', serif;

}

h1,h2,h3,p{
  font-family: 'Playfair Display', serif;
}

.navbar{
  background-color: rgb(223, 221, 216);
  border-bottom: solid black 5px;
}

.navbar-end{
  font-family: 'Playfair Display', serif;
}

a.navbar-item{
color: black;
}

.navbar-item{
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 800;
}

.homeP, .label{
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px white;
}

.titleHome{
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 800;
  font-size: 60px;
  text-shadow: 1px 1px white;
}

.subtitleHome{
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 600;
  font-size: 40px;
  text-shadow: 1px 1px white;
}

.homePic{
  background-image: url('../images/dickens_face.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  border: black solid 5px;
  border-radius: 10px;
}

.homeWords{
  margin-bottom: 100px;
}

.icon {
  width: 300px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.showpage {
  width: 600px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.booky {
  text-transform: uppercase;
  text-align: center;
  background-color: white;
}

.byline {
  text-align: center;
  margin-top: -20px;

}

.synopsis {
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 50px;

}

.literary {
  border: 2px solid black;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
  margin-left: -10px;
  margin-right: -10px;
    p {
      margin-bottom: 10px;
    }
    h4 {
      margin-bottom: 15px;
      font-weight: bold;
    }
}

.fail {
  text-align: center;
  display: none;
  z-index: 3;

}
.show-box {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

.button{
  font-family: 'Playfair Display', serif;
}

.input{
  border: 2px solid black;
  border-radius: 10px;
}

.imageshow {
  border-radius: 10px;
}


.whale {
  width: 10%;
  position: relative;
  right: -100%;
  top: -400px;
  animation-name: move;
  animation-duration: 20s;
  animation-delay: 0.01s;
  animation-iteration-count: infinite;
}



@keyframes move {
0% {
  left:-100%;
 }

100% {
  left:100%;
}
}
