@import '~bulma/bulma';

//skeleton

html{
  background: url('../images/CTWK6N.jpg') no-repeat  center fixed;
  background-size: cover;
  font-family: 'Playfair Display', serif;
}

.literary {
  border: 2px solid black;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
  margin-left: -10px;
  margin-right: -10px;
    p {
      margin-bottom: 10px;
    }
    h4 {
      margin-bottom: 15px;
      font-weight: bold;
    }
}

.fail {
  text-align: center;
  display: none;
  z-index: 3;

}
.show-box {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

.button{
  font-family: 'Playfair Display', serif;
}

.input{
  border: 2px solid black;
  border-radius: 10px;
}


//navbar

.navbar{
  background-color: rgb(223, 221, 216);
  border-bottom: solid black 5px;
}

.navbar-end{
  font-family: 'Playfair Display', serif;
}

a.navbar-item{
color: black;
}

.navbar-item{
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 800;
}

//typography

h1,h2,h3,p{
  font-family: 'Playfair Display', serif;
}

.homeP, .label{
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px white;
}


.titleHome{
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 800;
  font-size: 60px;
  text-shadow: 1px 1px white;
  -webkit-animation: text-shadow-pop-tl 1.5s both;
	        animation: text-shadow-pop-tl 1.5s both;
}

@-webkit-keyframes text-shadow-pop-tl {
  0% {
    text-shadow: 0 0 #DFD8D8, 0 0 #DFD8D8, 0 0 #DFD8D8, 0 0 #DFD8D8, 0 0 #DFD8D8, 0 0 #DFD8D8, 0 0 #DFD8D8, 0 0 #DFD8D8;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px -1px #DFD8D8, -2px -2px #DFD8D8, -3px -3px #DFD8D8, -4px -4px #DFD8D8, -5px -5px #DFD8D8, -6px -6px #DFD8D8, -7px -7px #DFD8D8, -8px -8px #DFD8D8;
    -webkit-transform: translateX(8px) translateY(8px);
            transform: translateX(8px) translateY(8px);
  }
}
@keyframes text-shadow-pop-tl {
  0% {
    text-shadow: 0 0 #DFD8D8, 0 0 #DFD8D8, 0 0 #DFD8D8, 0 0 #DFD8D8, 0 0 #DFD8D8, 0 0 #DFD8D8, 0 0 #DFD8D8, 0 0 #DFD8D8;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px -1px #DFD8D8, -2px -2px #DFD8D8, -3px -3px #DFD8D8, -4px -4px #DFD8D8, -5px -5px #DFD8D8, -6px -6px #DFD8D8, -7px -7px #DFD8D8, -8px -8px #DFD8D8;
    -webkit-transform: translateX(8px) translateY(8px);
            transform: translateX(8px) translateY(8px);
  }
}

.subtitleHome{
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 600;
  font-size: 40px;
  text-shadow: 1px 1px white;
}

.booky {
  text-transform: uppercase;
  text-align: center;
  background-color: white;
}

.byline {
  text-align: center;
  margin-top: -20px;

}

.synopsis {
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 50px;

}


//images

.homePic{
  background-image: url('../images/dickens_face.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  border: black solid 5px;
  border-radius: 10px;
  &:hover {
    border: black solid 8px;
  }
}

.icon {
  width: 300px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.showpage {
  width: 600px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.imageshow {
  border-radius: 10px;
}

.whale {
  width: 10%;
  position: relative;
  right: -100%;
  top: 10px;
  animation-name: move;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-delay: 0.01s;
  animation-iteration-count: infinite;
}

@keyframes move {
0% {
  left:-100%;
 }

100% {
  left:100%;
}
}

.bird {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;

	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;

	&--one {
		animation-duration: 1s;
		animation-delay: -0.5s;
	}

	&--two {
		animation-duration: 0.9s;
		animation-delay: -0.75s;
	}

	&--three {
		animation-duration: 1.25s;
		animation-delay: -0.25s;
	}

	&--four {
		animation-duration: 1.1s;
		animation-delay: -0.5s;
	}

}

.bird-container {
	position: absolute;
	top: 20%;
	left: -7.5vw;
	transform: scale(0);
	will-change: transform;

	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	&--one {
		animation-duration: 15s;
		animation-delay: 0;
	}

	&--two {
		animation-duration: 16s;
		animation-delay: 1s;
	}

	&--three {
		animation-duration: 14.6s;
		animation-delay: 9.5s;
	}

	&--four {
		animation-duration: 16s;
		animation-delay: 10.25s;
	}

}

@keyframes fly-cycle {

	100% {
		background-position: -900px 0;
	}

}

@keyframes fly-right-one {

	0% {
		left: -10%;
		transform: scale(0.3);
	}

	10% {
		left: 10%;
		transform: translateY(2vh) scale(0.4);
	}

	20% {
		left: 30%;
		transform: translateY(0vh) scale(0.5);
	}

	30% {
		left: 50%;
		transform: translateY(4vh) scale(0.6);
	}

	40% {
		left: 70%;
		transform: translateY(2vh) scale(0.6);
	}

	50% {
		left: 90%;
		transform: translateY(0vh) scale(0.6);
	}

	60% {
		left: 110%;
		transform: translateY(0vh) scale(0.6);
	}

	100% {
		left: 110%;
		opacity: 1;
		transform: translateY(0vh) scale(0.6);
	}

}

@keyframes fly-right-two {

	0% {
		left: -10%;
		opacity: 1;
		transform: translateY(-2vh) scale(0.5);
	}

	10% {
		left: 10%;
		transform: translateY(0vh) scale(0.4);
	}

	20% {
		left: 30%;
		transform: translateY(-4vh) scale(0.6);
	}

	30% {
		left: 50%;
		transform: translateY(1vh) scale(0.45);
	}

	40% {
		left: 70%;
		transform: translateY(-2.5vh) scale(0.5);
	}

	50% {
		left: 90%;
		transform: translateY(0vh) scale(0.45);
	}

	51% {
		left: 110%;
		transform: translateY(0vh) scale(0.45);
	}

	100% {
		left: 110%;
		transform: translateY(0vh) scale(0.45);
	}

}
